{% extends 'base.html' %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Artists</li>
    </ol>
    <div class="page-header">
        <h1>Artists <small>Subtext for header</small></h1>
    </div>
    <div class="list-group">
    {% for artist in artists %}
        <a href="{{ artist.get_absolute_url }}" class="list-group-item"><span class="badge">{{ artist.release_set.count }}</span>{{ artist }}</a>
    {% endfor %}
    </div>

{% endblock content %}