{% extends 'base.html' %}
{% load imagekit %}

{% block content %}
    <h1>{{ artist }}</h1>
    
    {% if artist.releases.all %}
    <h2>Releases</h2>
    <div class="row">
        {% for release in artist.releases.all %}
            {% include 'music/_release_box.html' %}
        {% endfor %}
    </div>
    {% elif artist.role_artist.all %}
    <div class="row">
        {% for role in artist.role_artist.all %}
            {% with release=role.release %}
                {% include 'music/_release_box.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

{% endblock content %}