{% extends 'base.html' %}
{% load imagekit %}

{% thumbnail '100x50' source_file %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'music:artists' %}">Artists</a></li>
  <li class="active">{{ artist.name }}</li>
</ol>
    <h1>{{ artist }}</h1>
    
    <h2>Releases</h2>
    <div class="row">
        {% for release in artist.release_set.all %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            {% if release.cover_image %}
            {% thumbnail '400x400' release.cover_image %}
            {% endif %}
              <div class="caption">
                <h3>{{ release.title }}</h3>
                <p>{{ release.release_date }}</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock content %}