{% extends 'base.html' %}
{% load imagekit embed_video_tags %}

{% block content %}
    <h1>{{ release.title }} <small>by {% for artist in release.artists.all %}<a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</small></h1>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-hover">
            {% for t in release.releasetrack_set.all %}
                <tr>
                    <td>{{ t.position }}</td>
                    <td>{{ t.track.title }}</td>
                    <td><small>{{ t.track.duration }}</small></td>
                </tr>
            {% endfor %}
            </table>
            
            <dl>
            {% for role in release.role_release.all %}
                <dt>{{ role.role }}{% if role.tracks %} [{{ role.tracks }}]{% endif %}</dt>
                <dd><a href="{{ role.artist.get_absolute_url }}">{{ role.artist }}</a></dd>
            {% endfor %}
            </dl>
        </div>
        <div class="col-md-8">
            {% if release.cover_image %}
            {% thumbnail '400x400' release.cover_image -- class="img-responsive" %}
            {% else %}
            <a href="{{ release.get_absolute_url }}"><img src="http://placehold.it/400?text={{ release.quote_plus_title}}" class="img-responsive" /></a>
           {% endif %}
       {% for t in release.track_set.all %}
            {% for v in t.youtube_set.all %}
                {% video v.url "400x300" %}
            {% endfor %}
        {% endfor %}

        </div>
    </div>
{% endblock content %}