{% extends 'base.html' %}
{% load imagekit %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'music:releases' %}">Releases</a></li>
      <li class="active"><strong>{{ release.title }}</strong> by {{ release.artist_credit }}</li>
    </ol>
    <h1>{{ release.title }}</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
            {% for t in release.releasetrack_set.all %}
                <tr>
                    <td>{{ t.position }}</td>
                    <td>{{ t.track.title }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            {% thumbnail '400x400' release.cover_image %}
        </div>
    </div>
{% endblock content %}