<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Big Home Productions</title>
  <style type="text/css">
    html { 
      background: url({{ MEDIA_URL }}chrome/tic-tac-toe-bhpweb.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
  </head>
  <body>
  hi
  </body>
</html>
