cffi==1.5.2
cryptography==1.2.2
-e git+https://github.com/tttallis/discogs_client.git@168c719cdd6ddf0b3fa10d8b569007b9b3faca9f#egg=discogs_client
Django==1.9.2
django-appconf==1.0.1
django-autoslug==1.9.3
django-embed-video==1.1.0
django-extensions==1.6.1
django-imagekit==3.3
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
ndg-httpsclient==0.4.0
oauthlib==1.0.3
pilkit==1.1.13
Pillow==3.1.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==0.15.1
requests==2.9.1
six==1.10.0
urllib3==1.24.2
