cffi==1.5.2
cryptography==1.2.2
-e git+https://github.com/tttallis/discogs_client.git@f7612c893265823a2f911a3d0bafe7e266976af5#egg=discogs_client
Django==1.9.2
django-extensions==1.6.1
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
ndg-httpsclient==0.4.0
oauthlib==1.0.3
Pillow==3.1.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==0.15.1
requests==2.9.1
six==1.10.0
urllib3==1.14
